@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  background: #111;
}

p {
  font-weight: 300;
  color: #111;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/background.webp);
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;
  background: transparent;
}

.banner .content h2 {
  font-size: 5em;
  color: #fff;
  background: transparent;
}

.banner .content p {
  font-size: 1em;
  color: #fff;
  background: transparent;
}

.button {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}

.button:hover {
  letter-spacing: 6px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background: transparent;
}

header.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  background: transparent;
}

header.sticky .logo {
  color: #111;
  background: transparent;
}

header .logo span {
  color: #ff0157;
  background: transparent;
}

header .navigation {
  position: relative;
  display: flex;
  background: transparent;
}

header .navigation li {
  list-style: none;
  margin-left: 30px;
  background: transparent;
}

header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  background: transparent;
}

header.sticky .navigation li a {
  color: #111;
  background: transparent;
}

header .navigation li a:hover {
  color: #fc3f75;
  background: transparent;
}

section {
  padding: 100px;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 100%;
  background: #111;
}

.row .col50 h1 {
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 2em;
  background: #ff0157;
}

.row .col50 p {
  text-align: center;
  color: #fff;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 100;
  background: #111;
}

.row .col50 pre {
  text-align: center;
  font-weight: 200;
  font-size: 1.25em;
  color: #fff;
  background: #111;
}

.title {
  margin-bottom: 150px;
  color: #fff;
  font-size: 2em;
  font-weight: 300;
}

.title span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 10px 20px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }

  header .navigation li {
    margin-left: 0;
  }

  header .navigation li a {
    color: #111;
    font-size: 1.6em;
  }

  .menu-toggle {
    position: relative;
    width: 40px;
    height: 40px;
    background-size: 30px;
    background: url(https://tomatenkuchen.eu/assets/images/menu.png) no-repeat center;
    cursor: pointer;
  }

  .menu-toggle.active {
    background-size: 25px;
    background: url(https://tomatenkuchen.eu/assets/images/close.png) no-repeat center;
  }

  section {
    padding: 20px;
  }

  .banner .content h2 {
    font-size: 3em;
    color: #fff;
  }

  .row {
    flex-direction: column;
  }

  .row .col50 {
    position: relative;
    width: 100%;
  }

  .row .col50 h1 {
    font-size: 1.75em;
  }

  .row .col50 p {
    font-size: 1.25em;
  }

  .row .col50 pre {
    font-size: 1em;
  }

}

@media (max-width: 480px) {
  .banner .content h2 {
    font-size: 2.2em;
    color: #fff;
  }
}

.guild {
  width: 100%;
  height: 26px;
  margin: 2px;
  padding: 3px;
  text-decoration: none;
  color: #fc3f75;
  font-family: sans-serif;
}

.guild a:hover {
  background-color: #fff;
  color: #A67792;
  text-decoration: #A67792;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 50%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
  border-radius: 25%;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 10px 16px;
}

.column {
  float: left;
  width: 20%;
  padding: 5px;
}

.columnrow::after {
  content: "";
  clear: both;
  display: table;
}

#cmdSearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
  background-color: #222;
  color: white;
}
