@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);

* {
  font-family: 'Poppins', cursive, sans-serif;
  text-align: center;
  scroll-behavior: smooth;
}

p {
  font-size: 1.3em;
  font-family: sans-serif;
}

h1 {
  font-size: 2.2em;
  background-color: #2389f7;
  color: yellow;
}

h2 {
  font-size: 1.8em;
  background-color: #2389f7;
}

li {
  font-size: 1.3em;
  font-family: sans-serif;
}

nav li {
  display: inline;
}

a:link, a:visited {
  width: 100%;
  height: 26px;
  margin: 2px;
  padding: 3px;
  text-decoration: none;
  color: #fc3f75;
  font-family: sans-serif;
}

a:hover {
  background-color: #fff;
  color: #A67792;
  text-decoration: #A67792;
}

nav ul {
  list-style-type: none;
  background-color: #c470ba;
  margin: 0.3em;
}

body {
  background-color: #d4d4d4;
}

img {
  border-radius: 15px;
}

pre {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 15px;
}

button, input {
  font-family: sans-serif;
  border-radius: 8px;
}

.setting {
  font-size: 1.2em;
  border: none;
}

.save {
  font-size: 1.7em;
  padding: 10px 15px;
}

button {
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4CAF50;
  color: white;
}

.cookie-container {
  z-index: 999;
  width: 350px;
  min-height: 20px;
  box-sizing: border-box;
  padding: 30px 30px 30px 30px;
  background: #ff0157;
  overflow: hidden;
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: left !important;
}

.cookie-container .cookie-title a {
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 20px;
  display: block;
}

.cookie-container .cookie-description p {
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 20px;
  display: block;
  margin: 10px 0 0;
}

.cookie-container .cookie-description a {
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  text-decoration: underline;
}

.cookie-container .cookie-button a {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  color: #111;
  font-size: 14px;
  font-weight: bold;
  margin-top: 14px;
  background: #FFF;
  box-sizing: border-box;
  padding: 15px 24px;
  text-align: center;
  transition: background 0.3s;
}

.cookie-container .cookie-button a:hover {
  cursor: pointer;
  background: #ff0157;
  color: #fff;
}

.user-image {
  border-radius: 50%;
}

@media (max-width: 980px) {
  .cookie-container {
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
  }
}
