/*@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');*/

/* latin */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./fonts/gfonts_bevietmanpro_latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./fonts/gfonts_robotocondensed_latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	--light-text-color: #e6e7f1;
	--transition-buttons: .3s;
}

.light-theme {
	--primary-color: #F3F3F8;
	--primary-color-hover: #FFF;
	--secondary-color: #C1C4DB;
	--tertiary-color: #E6E7F1;
	--accent-color: #505FD2;
	--accent-color-hover: #3C47A0;
	--button-accent-color: #414DA7;
	--primary-text-color: #131524;
	--secondary-text-color: #3D404E;
	--blue: #4B57C9;
	--green: #1B5E20;
	--red: #B71C1C;
	--yellow-1: #F57F17;
	--yellow-2: #F9A825;
	--yellow-3: #FBC02D;
	--purple: #4527A0;
	--pink: #880E4F;
	--cyan: #00BCD4;
	--primary-table-bgcolor: #E5E7F1;
	--secondary-table-bgcolor: #C1C4DB;
	--textarea-color: #000;
	--textarea-background: #FFF;
	--textarea-background-focus: #f6f6f6;
	--select-background: #FFF;
	--select-hover: #99b6ff;
	--select-border: #000;
}

.dark-theme {
	--primary-color: #131524;
	--primary-color-hover: #000;
	--secondary-color: #232742;
	--tertiary-color: #525569;
	--accent-color: #7B4CD9;
	--accent-color-hover: #5B2ABD;
	--button-accent-color: #41298b;
	--primary-text-color: #E6E7F1;
	--secondary-text-color: #C1C4DB;
	--blue: #8C9EFF;
	--green: #B9F6CA;
	--red: #F44336;
	--yellow-1: #FF8F00;
	--yellow-2: #FFD740;
	--yellow-3: #FFE57F;
	--purple: #B388FF;
	--pink: #FF80AB;
	--cyan: #84FFFF;
	--primary-table-bgcolor: #25273A;
	--secondary-table-bgcolor: #363952;
	--textarea-color: #FFF;
	--textarea-background: #000;
	--textarea-background-focus: #090909;
	--select-background: #08093a;
	--select-hover: #8a7ff0;
	--select-border: var(--secondary-text-color);
}

* {
	margin: 0;
}

html, body {
	box-sizing: border-box;
	height: 100%;
	font-size: 20px;
	background: var(--primary-color);
	transition: .5s;
	font-family: "Be Vietnam Pro", sans-serif;
}

.main {
	height: auto;
}

.category {
	padding: 10px 0;
}
tr {
	color: var(--primary-text-color);
	background-color: var(--primary-table-bgcolor);
	transition: .4s;
}
tr.cmdvisible:nth-child(odd) {
	background-color: var(--secondary-table-bgcolor);
}
.commands-container h3 {
	font-size: 1.4em;
	color: var(--primary-text-color);
}

.categorybutton {
	border: none;
	width: 130px;
	height: 35px;
	border-radius: 20px;
	font-size: 19px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background: var(--button-accent-color);
	cursor: pointer;
	color: var(--light-text-color);
	transition: var(--transition-buttons);
}
.categorybutton:hover {
	background: var(--accent-color-hover);
}

.user-image {
	border-radius: 50%;
	width: 24px;
	height: 24px;
}
.leaderboard {
	padding: 5px;
	font-size: 120%;
}

.grid {
	width: auto;
	display: grid;
	grid-template-areas: ". . . . .";
	overflow: hidden;
}
@media (max-width: 1300px) {
	.grid {
		grid-template-areas: ". . . .";
	}
}
@media (max-width: 1150px) {
	.grid {
		grid-template-areas: ". . .";
	}
}
@media (max-width: 900px) {
	.grid {
		grid-template-areas: ". .";
	}
}
@media (max-width: 750px) {
	.grid {
		grid-template-areas: ".";
	}
}

.guilds-container .guild {
	width: 100%;
	height: 26px;
	margin: 2px;
	padding: 3px;
	text-decoration: none;
	color: #fc3f75;
	font-family: sans-serif;
}

.guilds-container .guild a:hover {
	background-color: #fff;
	color: #A67792;
	text-decoration: #A67792;
}

.guilds-container {
	position: relative;
	margin: 0 15px;
}

.guilds-container .image {
	opacity: 1;
	display: block;
	width: 128px;
	height: 128px;
	transition: .5s ease;
	backface-visibility: hidden;
	border-radius: 50%;
}

.guilds-container .text {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	background-color: #4CAF50;
	color: white;
	font-size: 16px;
	padding: 10px 16px;
}

.guilds-container:hover .image {
	opacity: .3;
	border-radius: 25%;
}

.guilds-container:hover .text {
	opacity: 1;
}

.guilds-container .notactivated {
	-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
}

.setting, .settingcopy {
	overflow-wrap: anywhere;
	font-size: 1.1em;
	border: none;
	border-radius: 4px;
	padding: 3px;
}
.advancedsetting {
	margin-left: 30px;
}

textarea {
	color: var(--textarea-color);
	background-color: var(--textarea-background);
}
textarea:focus {
	background-color: var(--textarea-background-focus);
	outline: none;
}

input .hidearrows {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.badge {
	background-color: var(--select-hover);
	color: var(--primary-text-color);
	display: inline-block;
}

.userData {
	background-color: var(--secondary-color);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.22);
	width: fit-content;
	margin: 20px;
}

.userdatagrid {
	width: auto;
	display: grid;
	grid-template-areas: ". . .";
	overflow: auto;
	color: var(--primary-text-color);
}
@media (max-width: 1450px) {
	.userdatagrid {
		grid-template-areas: ". .";
	}
}
@media (max-width: 1200px) {
	.userdatagrid {
		grid-template-areas: ".";
	}
}

.sidebar-container {
	width: 0;
	position: fixed;
	left: 0;
	top: 0;
	background: var(--secondary-color);
	transition: var(--transition-buttons);
	height: 100%;
}

.sidebar {
	width: 0;
	height: 100%;
	background: inherit;
	transition: var(--transition-buttons);
	overflow-y: auto;
}

.sidebar-container:not(.visible) .sidebar > * {
	display: none;
}

.sidebar-container.visible {
	width: 300px;
	z-index: 3;
	border-right: 1px solid var(--tertiary-color);
}

.sidebar-container.visible .sidebar {
	display: block;
	width: 300px;
}

.sidebar-container.visible #lineTop2 {
	transform: rotate(45deg);
	top: 5px;
}

.sidebar-container.visible #lineBottom2 {
	transform: rotate(-45deg);
	bottom: 5px;
}

#lineTop1 {
	transform: rotate(0);
	top: 0;
}

#lineBottom1 {
	transform: rotate(0);
	bottom: 0;
}

.sidebar a {
	text-decoration: none;
}

.sidebar .hamburger {
	margin: 20px;
	transition-duration: .5s;
}

.hamburger {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 10px;
	margin: 10px;
	width: 30px;
	cursor: pointer;
	right: 5px;
	position: relative;
	border-radius: 50%;
	justify-content: center;
	height: 30px;
}

.sidebar .hamburger:hover {
	background: var(--tertiary-color);
	animation: spin 1s;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(180deg); }
}

.top .hamburger:hover {
	animation: wide 0.3s;
}

@keyframes wide {
	0% { gap: 5px;}
	50% { gap: 10px;}
	100% { gap: 5px;}
}

.hamburger .line {
	width: 30px;
	height: 5px;
	background: var(--primary-text-color);
	position: relative;
	transition: .5s;
}

.sidebar button {
	border: none;
	width: 220px;
	height: 50px;
	border-radius: 30px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	background: var(--button-accent-color);
	cursor: pointer;
	color: var(--light-text-color);
	transition: var(--transition-buttons);
	font-family: "Roboto Condensed", sans-serif;
	letter-spacing: 2px;
}

.sidebar button:hover {
	background: var(--accent-color-hover);
}

.sidebar button:focus {
	box-shadow: 0 0 8px 2px var(--accent-color);
}

.sidebar button ion-icon {
	--ionicon-stroke-width: 56px;
	margin-right: 7px;
}


.sidebar .section {
	margin-top: 50px;
	overflow-y: auto;
}

.sidebar .section .tab {
	color: var(--primary-text-color);
}

.sidebar .section.middle {
	padding-bottom: 100px;
}

.sidebar .section.bottom {
	position: absolute;
	width: 100%;
	bottom: 0;
	background: var(--primary-color);
	display: flex;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.sidebar .section.bottom .tab {
	margin: 0;
	padding: 0;
}

#author {
	font-size: 75%;
	padding-top: 50px;
	color: var(--primary-text-color);
	text-align: center;
}
#author a {
	color: var(--blue);
	text-decoration: none;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	color: var(--textarea-color);
}
.switch[data-type="lang"] {
	margin-left: 10px;
	margin-right: auto;
}
.switch[data-type="theme"] {
	margin-left: auto;
	margin-right: 10px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--secondary-color);
	border-radius: 20px;
}

.switch .slider:before {
	position: absolute;
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--primary-color);
	transition: .5s;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 1px;
	line-height: 0;
}

.switch[data-type="lang"] .slider:before {
	content: "";
	background-image: url("./images/wikimedia_flagde.svg");
	background-position: center;
	background-size: cover;
}
.switch[data-type="lang"] input:checked + .slider:before {
	content: "";
	background-image: url("./images/wikimedia_flagen.svg");
	background-position: center;
	background-size: cover;
}

.switch[data-type="theme"] .slider:before {
	content: "☀️";
}
.switch[data-type="theme"] input:checked + .slider:before {
	content: "🌙";
}

.switch input + .slider {
	background-color: var(--accent-color);
}
.switch input:checked + .slider:before {
	transform: translateX(26px);
}

.sidebar .section p.title {
	font-size: 13px;
	margin-left: 15px;
	color: var(--secondary-text-color);
	font-family: "Roboto Condensed", sans-serif;
	letter-spacing: 2px;
}

.sidebar .section .tab {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 10px 70px 0 0;
	cursor: pointer;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 7px 20px;
	color: var(--primary-text-color);
}

.sidebar .section .tab:hover {
	background: var(--tertiary-color);
}

.sidebar .section .tab.active {
	background: var(--accent-color);
	color: #FFF;
}
.sidebar .section .tab.active p {
	color: #FFF;
}

.sidebar .section .tab ion-icon {
	font-size: 32px;
	transition: var(--transition-buttons);
}

.sidebar .section .tab:hover ion-icon {
	transform: rotate(20deg);
}

.sidebar .section .tab p {
	font-size: 24px;
}

.sidebar .section .tab.small {
	padding: 2px 20px;
}
.sidebar .section .tab.small p {
	font-size: 20px;
}
.sidebar .section .tab.small ion-icon {
	font-size: 26px;
}


.sidebar .section.bottom .tab {
	background: transparent;
}

.sidebar .section.bottom .tab ion-icon {
	cursor: pointer;
	transition: var(--transition-buttons);
	border-radius: 50%;
	padding: 10px;
}

.sidebar .section.bottom .tab ion-icon:hover {
	transform: rotate(30deg);
	background: var(--tertiary-color);
}

.main .top {
	background: var(--secondary-color);
	top: 0;
	position: fixed;
	z-index: 2;
	width: 100%;
	padding: 10px;
	display: flex;
	align-items: center;
	box-shadow: 0 0 8px 2px var(--primary-color);
}

.main .top .search-box {
	display: flex;
	align-items: center;
	width: 70%;
	flex: 1;
	margin-left: 240px;
	margin-right: 30px;
	transition: var(--transition-buttons);
}
.main .top .search-box:hover {
	transform: scaleY(1.025) scaleX(1.006);
}

.main .top .search-box input {
	border-radius: 22px;
	width: 100%;
	border: none;
	height: 45px;
	outline: none;
	padding-left: 15px;
	padding-right: 50px;
	font-size: 18px;
	transition: var(--transition-buttons);
	background: var(--primary-color);
	color: var(--primary-text-color);
	font-family: "Be Vietnam Pro", sans-serif;
}

.main .top .search-box input:focus {
	box-shadow: 0 0 6px 2px var(--primary-color);
}
.main .top .search-box input::placeholder {
	color: var(--secondary-text-color);
}

.main .top .search-box ion-icon {
	position: relative;
	margin-left: -50px;
	color: var(--secondary-text-color);
	cursor: pointer;
	border-radius: 50%;
	padding: 10px;
	transition: var(--transition-buttons);
}
.main .top .search-box ion-icon:hover {
	background: var(--tertiary-color);
	color: var(--primary-text-color);
}

.main .top .account {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 30px;
	font-size: 18px;
	border-radius: 10px;
	padding: 5px;
	background: var(--primary-color);
	color: var(--primary-text-color);
	cursor: pointer;
	transition: var(--transition-buttons);
}

.main .top .account ion-icon {
	font-size: 35px;
}
.main .top .account img {
	padding-left: 5px;
	border-radius: 50%;
}

.accdropdown {
	display: inline-block;
	position: relative;
	margin-left: auto;
}

.accdropdown-content {
	display: none;
	position: absolute;
	width: 80%;
	overflow: auto;
	border-radius: 5px;
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.4);
}

.accdropdown:hover .accdropdown-content {
	display: block;
}

.accdropdown-content a {
	display: block;
	color: var(--primary-text-color);
	padding: 5px;
	text-decoration: none;
	background: var(--primary-color);
}
.accdropdown-content a:hover {
	background-color: var(--select-hover);
}

.main .content {
	margin-top: 40px;
	margin-left: 70px;
	margin-right: 50px;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	transition: .4s;
	padding: 100px 0 100px 300px;
}

h1 {
	color: var(--primary-text-color);
}
h1.greeting {
	font-size: 55px;
	text-align: center;
	padding-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
}

.main .content .accent {
	color: var(--accent-color);
}

.main .content .row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	width: 100%;
}

.main .content .row .data {
	border-radius: 20px;
	background-color: var(--secondary-color);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.22);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main .content .row .data .container {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-right: auto;
	margin-left: 15px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: auto;
}

.main .content .row .data .container ion-icon {
	font-size: 32px;
	color: var(--primary-color);
	padding: 10px;
	border-radius: 50%;
}

.main .content .row .data .container ion-icon.open {
	color: var(--secondary-text-color) !important;
	background: transparent !important;
	cursor: pointer;
	transition: var(--transition-buttons);
	margin-left: auto;
	margin-right: 20px;
	margin-top: -35px;
	position: relative;
	right: 0;
	top: 0;
	font-size: 24px;
}

.main .content .row .data .container ion-icon.open:hover {
	background: var(--tertiary-color) !important;
	right: -3px;
	top: -3px;
	color: var(--primary-text-color) !important;
}

.main .content .row .data .container ion-icon.server-icon {
	background: var(--yellow-2);
}

.main .content .row .data.uptime .container ion-icon {
	background: var(--green);
}

.main .content .row .data.users .container ion-icon {
	background: var(--blue);
}

.main .content h1, h2, label, p {
	color: var(--primary-text-color);
}

#stats-guilds {
	color: var(--primary-text-color);
	font-size: 25px;
	font-weight: 700;
}

.main .content .row .data .container p.text {
	color: var(--secondary-text-color);
	font-size: 18px;
	letter-spacing: 2px;
}

.main .content .row .data.small .text p {
	width: 50px;
}

.main .content .row .data {
	height: 235px;
}
.main .content .row .data.rect {
	width: 500px;
}
.main .content .row .data.small {
	width: 235px;
	gap: 75px;
}

.main .content .row .data.small p {
	font-weight: 600;
	font-size: 50px;
	position: relative;
	top: -50px;
}
.main .content .row .data.uptime p {
	color: var(--green);
}
.main .content .row .data.users p {
	color: var(--blue);
}

.main .content .row .data.rect .numbers {
	display: flex;
	align-items: center;
	gap: 30px;
	position: relative;
	top: -50px;
}

.main .content .row .data.rect .numbers-inner {
	color: var(--primary-text-color);
	font-size: 20px;
}

.charts-css.area.multiple.session-length {
	margin-top: auto;
}

.charts-css.area.multiple.session-length tr .first {
	--color: var(--yellow-1);
}

.charts-css.area.multiple.session-length tr .second {
	--color: var(--yellow-2);
}

.charts-css.area.multiple.session-length tr .third {
	--color: var(--yellow-3);
}

.charts-css.area.multiple.session-length tr.first td::before {
	border-bottom-left-radius: 20px;
}

.charts-css.area.multiple.session-length tr.last td::before {
	border-bottom-right-radius: 20px;
}

.container.session-length a.linkicon {
	padding-left: 50px;
}


.main .content .row .small-container {
	display: flex;
	justify-content: center;
	height: 235px;
	gap: 30px;
}

table.charts-css {
	height: 150px;
}

.charts-css.line {
	--line-size: 4px;
}

h3, h4, ul li {
	color: var(--primary-text-color);
}

.main .content .row .rect-container {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.cookie-container {
	position: fixed;
	right: 15px;
	bottom: 15px;
	background-color: var(--secondary-color);
	padding: 15px;
	opacity: 0;
}
@media only screen and (max-width: 550px) {
	.cookie-container {
		right: 0;
		bottom: 0;
	}
}

.cookie-container h2 {
	color: var(--primary-text-color);
}
.cookie-container button {
	border: none;
	padding: 10px;
	margin: 10px 10px 0 0;
	border-radius: 17px;
	font-size: 20px;
	background-color: var(--button-accent-color);
	color: var(--light-text-color);
	cursor: pointer;
	transition: var(--transition-buttons);
}
.cookie-container button:hover {
	background-color: var(--accent-color);
}

.statsicon {
	min-width: 50px;
}
.removeItem {
	color: var(--select-border);
}

.form-popup {
	display: none;
	position: fixed;
	top: 10px;
	left: 50%;
	border: 3px solid #f1f1f1;
	z-index: 9;
}

.form-container {
	max-width: 350px;
	padding: 10px;
	background-color: white;
}
.form-container h1 {
	padding-bottom: 15px;
}

.form-container input[type=text], .form-container textarea {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	min-width: 300px;
	max-width: 350px;
	box-sizing: border-box;
}
.form-container input[type=text]:focus, .form-container textarea:focus {
	background-color: #ddd;
	outline: none;
}
.form-container select:focus {
	outline: none;
}

.form-container .btn {
	background-color: #04AA6D;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	opacity: .7s;
	transition: .3s;
}

.featurelist {
	margin-top: 4rem;
}
.featurelist h2 {
	font-size: 36px;
}
.feature {
	margin-top: 10px;
	display: grid;
	grid-template-columns: auto auto;
	gap: 15px;
	align-items: center;
	vertical-align: middle;
}
.feature strong {
	font-size: 1.2em;
}
.feature p {
	font-size: 1.1em;
}
.feature a {
	color: var(--blue);
	text-decoration: none;
}

.form-container .cancel {
	background-color: red;
}
.form-container .btn:hover {
	opacity: 1;
}

@media only screen and (max-width: 1300px) {
	.sidebar-container.visible + .main .content .row {
		flex-direction: column;
	}
}

@media only screen and (max-width: 1100px) {
	.main .content .row .data.large {
		width: 500px;
		height: auto;
	}
}

@media only screen and (max-width: 1000px) {
	.main .content .row {
		flex-direction: column;
	}
}

@media only screen and (max-width: 600px) {
	.main .content {
		gap: 20px;
		margin-left: 50px;
	}

	.main .content .row {
		gap: 20px;
	}

	.main .content .row .data.rect {
		width: 90%;
	}

	.main .content .row .small-container {
		gap: 20px;
		width: 90%;
	}

	.main .content .row .data.small {
		width: 50%;
	}

	.main .content .row .data.big {
		width: 90%;
	}

	.main .content .row .rect-container {
		width: 90%;
		gap: 20px;
	}

	.main .content .row .rect-container .data.rect {
		width: 100%;
	}

	.main .content .row .data.large {
		width: 90%;
	}
}

@media only screen and (max-width: 550px) {
	.linkicon {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	.sidebar-container.visible {
		width: 100%;
	}
	#sidebar {
		width: 100%;
	}

	.main .top .search-box ion-icon {
		font-size: 24px;
	}

	.main .content {
		margin-left: 20px;
	}

	.main .content h1.greeting {
		font-size: 40px;
		margin: 10px;
	}

	.main .content .row .data.small h1 {
		font-size: 40px;
		transition: .2s;
	}
	.main .content .row .data.small h3 {
		font-size: 20px;
		transition: .2s;
	}
}

@media only screen and (max-width: 400px) {
	.statsicon {
		display: none;
	}

	.main .top .account {
		margin-right: 20px;
	}

	.main .top .account p {
		display: none;
	}

	.main .top .search-box {
		margin-left: 10px;
	}

	.hamburger {
		padding: 10px 0;
		margin: 0 5px;
	}

	.sidebar .hamburger {
		margin-top: 13px;
	}

	.main .top .search-box {
		margin-right: 20px;
	}

	.charts-css.column.sales tbody {
		gap: 15px;
	}

	.main .content {
		margin-left: 15px;
	}

	.main .content .row .data.small .container {
		flex-direction: column;
	}

	.main .content .row .data.small .container > * {
		position: relative;
	}

	.main .content .row .data.small .container ion-icon {
		top: 20px;
		left: -55px;
	}

	.main .content .row .data.small .container .text {
		display: flex;
		gap: 10px;
		align-items: center;
		top: 30px;
		left: -30px;
	}

	.main .content .row .data.small .container ion-icon.open {
		top: -65px;
		left: 5px;
	}

	.main .content .row .data.small h1 {
		font-size: 30px;
		transition: .3s;
	}
	.main .content .row .data.small h3 {
		font-size: 15px;
		transition: .3s;
	}
}


::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: var(--accent-color);
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--accent-color-hover);
}

::selection {
	background: var(--accent-color);
	color: var(--primary-text-color);
}


.creditsContainer {
	text-align: center;
}

.credits h1, .credits h2, .credits h3 {
	color: var(--primary-text-color);
	text-align: center;
}

.creditsContainer a {
	cursor: pointer;
	text-decoration: none;
	color: var(--primary-text-color);
}

.credits h1 {
	font-size: 60px;
	text-transform: uppercase;
}

.credits h2 {
	font-size: 40px;
	text-transform: uppercase;
}

.credits h3 {
	font-size: 30px;
	text-shadow: 3px 4px 5px black;
}

.creditsUser {
	background-color: var(--secondary-color);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	width: fit-content;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	transition: .5s;
	text-align: center;
	cursor: default;
	display: inline-block;
	margin: 30px;
}
.creditsUser:hover {
	box-shadow: 0 0 20px var(--primary-text-color);
	transform: scale(1.08);
}

.creditsUser img {
	width: 140px;
	height: 140px;
	box-shadow: 0 0 20px black;
	transition: .5s;
	border-radius: 50%;
}

.creditsMedia {
	transition: .5s;
	font-size: 30px;
	color: var(--primary-text-color);
	padding: 5px;
	margin-bottom: 15px;
}
.creditsMedia:hover {
	transform: scale(1.2);
}
